
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    
    <div class="AboutSec bg">
        <div class="container">
            <div class="row">
                <div align="center" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="heading">
                        <font color="#c7172c">
                            <u><h1>About Blood Donation</h1>
                        </font></u>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="tcd">
                        <p style="line-height: 22px;font-family: sans-serif; ">
                            <span style="font-size: 24px;letter-spacing: 1px; color:#0c0b0c;">
                                Each second in the world, someone needs blood. Despite a huge population in India, the demand supply gap for blood to transfuse persists. According to a 2012 report by the World Health Organization, only 9 million blood units are available annually, whereas the demand is 12 million units.
                            </span></br>
                        </p>
                        <p style="line-height: 22px;">
                            <font color="#333;">
                                <span style="font-size: 24px;letter-spacing: 1px;font-family:sans-serif;color:#0c0b0c;">
                                    Voluntary blood donors are the cornerstone of a safe and adequate supply of blood. The safest blood donors are voluntary blood donors from low-risk populations.
                                </span>
                            </font>
                        </p>
                        <p style="line-height: 22px;">
                            <span style="font-size: 24px;letter-spacing: 1px;font-family: sans-serif;color:#0c0b0c;">
                                Voluntary blood donor: A person who gives blood of his/her own free will and receives no payment for it, either in the form of cash or in-kind which could be considered a substitute for money. Selling or donating blood in exchange of money is illegal under the National Blood Transfusion Services Act 2007 and those found convicted may face a prison sentence of up to three months with fine.
                            </span>
                        </p>
                        <p style="line-height: 22px;font-family: sans-serif;">
                            <font color="#333;">
                                <span style="font-size: 24px;letter-spacing: 1px;color:#0c0b0c;">Goal of Voluntary Blood Donation is to wipe off the scarcity of blood and ensure availability of safe and quality blood, round the clock and throughout the year. This will lead to alleviation of human sufferings, even to the far-flung remote areas in the country.</span>
                            </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


</body>
</html>